openai
pyodbc
matplotlib
spacy
streamlit
python-dotenv
requests
networkx
numpy
plotly
qdrant-client
uuid
fastapi[standard]
uvicorn
pydantic
fuzzywuzzy[speedup]
PyPDF2
python-multipart
boto3
langchain_community
tiktoken